/* CUSTOM-PROPS */
:root {
  
  /* fonts */
  --text-font: "Public Sans", "Arial", sans-serif;
  --karla-font: "Karla", "Arial", sans-serif;
  --ibarra-font: "Ibarra Real Nova", "Arial", sans-serif;
  
  /* colors */
  --cyan: #5fb4a2;
  --cyan--50: rgba(95, 180, 162, 0.5);
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;
  --very-light-grey: #fafafa;
  --light-grey: #eaeaeb;
  --red-error: #f43030;
}


/* FONT-FACE */
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
  url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.woff2") format("woff2"),
  url("../fonts/Karla-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Bold.woff2") format("woff2"),
  url("../fonts/IbarraRealNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-SemiBold.woff2") format("woff2"),
  url("../fonts/PublicSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
  url("../fonts/IbarraRealNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
  url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-BoldItalic.woff2") format("woff2"),
  url("../fonts/PublicSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}



/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed rgb(195, 210, 82);
  outline-offset: 3px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--text-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--grayish-dark-blue);
  padding: 0;
  margin: 0;
  background-color: var(--very-light-grey);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BUTTONS */
.button {
  display: inline-block;
  padding: 17px 34px 17px 32px;
  color: var(--grayish-dark-blue);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid var(--grayish-dark-blue);
  background-color: transparent;
  transition: 0.1s;
}
.button:hover {
  color: #fff;
  background-color: var(--grayish-dark-blue);
}
.button:active {
  opacity: 0.6;
}
.button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}


.cta-button {
  display: inline-block;
  min-width: 200px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background-color: var(--dark-blue);
  transition: 0.1s;
}
.cta-button:hover {
  background-color: var(--cyan);
}
.cta-button:active {
  opacity: 0.6;
}
.cta-button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.cta-button:hover .cta-button__append svg {
  color: #fff;
}

.cta-button__inner {
  display: flex;
}

.cta-button__append {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--cyan);
  background-color: rgba(0, 0, 0, 0.1);
}

.cta-button__text {
  text-align: center;
  flex-grow: 1;
  padding: 17px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* IMG-TEXT-INFO */
.img-text-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img-text-info:not(:last-child) {
  margin-bottom: 72px;
}

.img-text-info__picture {
  display: block;
}

.img-text__img {
  flex-shrink: 1;
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.img-text-info__index-about .img-text-info__info {
  padding-top: 32px;
  padding-bottom: 50px;
}
.img-text-info__info {
  padding: 24px 0;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.img-text-info__index-about .img-text-info__title  {
  margin-bottom: 28px;
}
.img-text-info__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--ibarra-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.img-text-info__description {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1110px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

/* Site - LOGO */
.site-header__logo-link {
  margin-right: 32px;
}

.site-header__logo-icon {
  display: block;
}


/* MENU */
.menu-opener__button {
  display: block;
  width: 24px;
  height: 13px;
  margin-left: auto;
  border: 0;
  background-color: transparent;
  background-image: url("../img/Menu-icon.svg");
  background-repeat: no-repeat;
}

.site-header__menu--open .menu-opener__button {
  width: 18px;
  height: 19px;
  background-image: url("../img/Close-icon.svg");
}

.menu-icon {
  display: block;
}

.site-header__menu--open .menu-sitenav {
  display: block;
  position: absolute;
  z-index: 1;
  padding: 40px;
  top: 88px;
  right: 32px;
  min-width: 223px;
  max-width: calc(100% - 64px);
  background-color: var(--grayish-dark-blue);
}


/* SITE-HEADER */
.site-header {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 40px;
  transition: 0.3s;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.sitenav {
  display: none;
  margin-left: auto;
}

.sitenav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:hover .sitenav__link{
  color: var(--cyan--50);
}

.sitenav__item--active .sitenav__link {
  color: var(--cyan);
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s;
}



/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}

/* Hero */
.hero {
  margin-bottom: 96px;
}
.hero__picture {
}
.hero__img {
  display: block;
  width: 100%;
  height: 271px;
  object-fit: cover;
  object-position: center top;
  margin-bottom: 24px;
}

.hero-inner {
  
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: var(--ibarra-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

/* CONTACT-CTA */
.portfolio-contact-cta {
  padding-top: 80px;
}

.contact-cta {
  padding-top: 115px;
  padding-bottom: 80px;
  text-align: center;
}
.contact-cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-cta__heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: var(--ibarra-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
}


/* PORTFOLIIO-TEMPLATE */
.temp-hero {
  margin-bottom: 40px;
}

.temp-hero__picture {
  display: block;
}

.temp-hero__img {
  display: block;
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: center top;
}

.temp-contact-cta {
  padding-top: 64px;
}

/* TEMP-INFO */
.temp-info {
  display: flex;
  flex-direction: column;
}

.temp-info__heading {
  padding: 24px 0;
  margin-bottom: 48px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.temp-info__heading-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--ibarra-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.temp-info__heading-text {
  max-width: 339px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 15px;
}

.temp-info__heading-links {
  display: block;
  margin-bottom: 24px;
  text-decoration: none;
  color: var(--cyan);
  font-size: 13px;
  font-weight: 700;
}

/* TEMP-IFO-DETAILS */
.temp-info__details {
  margin-bottom: 64px;
}
.temp-info__details-heading {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: var(--ibarra-font);
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.286px;
}
.temp-info__details-text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 15px;
}
.temp-info__details-bottom-text {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: var(--ibarra-font);
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.286px;
}
.temp-info__details-images {
  display: block;
}
.temp-info__details-img {
  width: 100%;
}
.temp-info__details-1st-img {
  margin-bottom: 32px;
}
.temp-info__details-2nd-img {
}

/* PAGE-CONTROLS */
.page-controls {
  position: relative;
}
.page-controls__links {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.page-control {
  width: 100%;
}
.page-controls__links::before {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  background-color: rgba(51, 50, 61, 0.15);
  content: "";
}

.page-control:hover {
  background-color: rgba(173, 216, 230, 0.2);
}

.page-control-left {
  display: inline-block;
  text-decoration: none;
  padding-right: 8px;
}

.page-control-right {
  display: inline-block;
  text-decoration: none;
  padding-left: 8px;
}

.page-control__icon-left {
  display: block;
  width: 8px;
  height: 16px;
  margin-bottom: 16px;
}
.page-control__icon-right {
  display: block;
  width: 8px;
  height: 16px;
  margin-bottom: 16px;
  margin-left: auto;
}
.page-control__left-info {
}
.page-control__right-info {
  text-align: right;
}
.page-control__left-title {
  margin: 0;
  color: var(--grayish-dark-blue);
  font-family: var(--ibarra-font);
  font-size: 32px;
  letter-spacing: -0.286px;
}
.page-control__left-text {
  margin: 0;
  opacity: 0.5;
  color: var(--grayish-dark-blue);
}



/* SITE-FOOTER */
.site-footer {
  padding: 56px;
  background-color: var(--grayish-dark-blue);
}
.site-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer__logo-link {
  margin: 0;
  margin-bottom: 40px;
}
.site-footer__sitenav {
  margin-bottom: 40px;
}
.site-footer__socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__social-item:not(:last-child) {
  margin-right: 16px;
}
.site-footer__item-img {
  display: block;
}
.site-footer .sitenav__link {
  color: #fff;
}


/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}



@media only screen and (min-width: 500px) {
  .hero__img {
    height: 600px;
  }
  .hero__heading {
    margin-bottom: 48px;
  }
  .temp-hero__img {
    height: 600px;
  }
}

@media only screen and (min-width: 550px) {
  .img-text-info {
    display: flex;
    align-items: center;
  }
  .img-text-info__index-about {
    align-items: stretch;
  }
  .img-text-info:nth-child(even) {
    flex-direction: row-reverse;
  }
  .img-text-info__info {
    width: 60%;
    margin-left: 32px;
  }
  .img-text-info:nth-child(even) .img-text-info__info {
    margin-left: 0;
    margin-right: 32px;
  }
  .img-text-info__img {
    margin-bottom: 0;
  }
  .img-text-info__index-about .img-text-info__img {
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
  }
}

@media only screen and (min-width: 635px) {
  .temp-info__heading-text {
    float: right;
  }
  .page-control {
    display: flex;
    align-items: center;
  }
  .page-control-right {
    flex-direction: row-reverse;
  }
  .page-control__icon {
    margin-bottom: 0;
  }
  .page-control__icon-right {
    margin-left: 0;
  }
  .page-control__left-info {
    margin-left: 32px;
  }
  .page-control__right-info {
    margin-right: 32px;
  };
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  
  .site-header {
    padding: 64px 0 47px;
  }
  .menu-opener__button {
    display: none;
  }
  .sitenav,
  .site-header__menu--open .sitenav {
    position: static;
    display: block;
    background-color: transparent;
  }
  .sitenav__list {
    flex-direction: row;
  }
  .sitenav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 42px;
  }
  .sitenav__link {
    color: var(--grayish-dark-blue);
  }
  .hero {
    position: relative;
  }
  .hero__img {
    margin-bottom: 96px;
  }
  .hero-inner {
    position: absolute;
    width: 514px;
    padding: 56px 56px 0 0;
    z-index: 1;
    bottom: 0;
    background-color: #fff;
  }
  .img-text-info__picture {
    flex-shrink: 0;
  }
  .img-text-info__index-about .img-text-info__img {
    width: 280px;
  }
  .img-text-info__img {
    flex-shrink: 0;
    width: 340px;
    height: 315px;
    object-fit: cover;
    margin-bottom: 0;
  }
  .img-text-info__index-about .img-text-info__info {
    padding-top: 50px;
  }
  .img-text-info__info {
    width: auto;
    flex-grow: 1; 
    margin-left: 0;
    margin-left: 69px;
  }
  .img-text-info:not(:last-child) {
    margin-bottom: 80px;
  }
  .img-text-info:nth-child(even) .img-text-info__info {
    margin-left: 0;
    margin-right: 69px;
  }
  .contact-cta__container {
    flex-direction: row;
  }
  .portfolio-contact-cta {
    padding: 150px 0;
  }
  .contact-cta {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .contact-cta__container::before {
    content:  "";
    width: 113px;
    height: 1px;
    flex-grow: 1;
    margin: 0 32px;
    opacity: 0.15;
    background-color: var(--grayish-dark-blue);
  }
  .contact-cta__heading {
    width: 100%;
    max-width: 350px;
    margin-bottom: 0;
    order: -1;
  }
  .temp-contact-cta {
    padding-top: 96px;
  }
  .temp-hero__picture {
    display: flex;
    flex-grow: 1;
  }
  .temp-hero__img {
    width: 100%;
    height: 310px;
    flex-grow: 0;
  }
  .temp-info__details-img {
    max-width: 635px;
    height: 434px;
    margin-bottom: 31px;
  }
  .page-controls__links {
    padding: 32px 0;
  }
  .site-footer {
    padding: 24px 0;
  }
  .site-footer__container {
    flex-direction: row;
  }
  .site-footer__logo-link {
    margin-bottom: 0;
    margin-right: 48px;
  }
  .site-footer__sitenav {
    margin-bottom: 0;
  }
  .site-footer__socials {
    margin-left: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    margin-bottom: 153px;
  }
  .hero__img {
    margin-bottom: 150px;
  }
  .hero-inner {
    max-width: 445px;
  }
  .hero__heading {
    margin-bottom: 53px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446px;
  }
  .img-text-info__index-about .img-text-info__img {
    width: 540px;
    height: 600px;
  }
  .temp-hero {
    margin-bottom: 115px;
  }
  .temp-hero__picture {
    flex-grow: 1;
  }
  .temp-hero__img {
    width: 100%;
    max-width: 1110px;
    height: 500px;
  }
  .temp-info {
    flex-direction: row;
    justify-content: space-between;
  }
  .temp-info__heading {
    margin-right: 125px;
    height: 427px;
  }
  .temp-info__heading-text {
    max-width: 350px;
    float: none;
  }
  .temp-info__details-img {
    margin-bottom: 32px;
    height: 400px;
  }
  .temp-info__details-text {
    max-width: 635px;
  }
  .temp-info__heading-text {
  }
}

@media only screen and (min-width: 1180px) {
  .site-header {
    padding-bottom: 54px;
  }
  .img-text-info {
    align-items: stretch;
  }
  .img-text-info__img {
    width: 540px;
    height: 500px;
    margin-right: 0;
  }
  .img-text-info__info {
    margin-left: 125px;
    margin-right: 96px;
    padding: 103px 0;
  }
  .img-text-info:nth-child(even) .img-text-info__info {
    margin-right: 125px;
    margin-left: 96px;
  }
  .img-text-info__title {
    margin-bottom: 28px;
  }
  .img-text-info__description {
    font-size: 16px;
    line-height: 30px;
  }
  .contact-cta {
  padding-top: 150px;
  padding-bottom: 150px;
  }
  .temp-contact-cta {
    padding-top: 115px;
  }
}